.panel.radius
  header
    h2 {{ global.title }}
  hr

  ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
    li: img(src="http://placehold.it/250x250")
    li: img(src="http://placehold.it/250x250")
    li: img(src="http://placehold.it/250x250")
    li: img(src="http://placehold.it/250x250")